---
volume: 18
issue: 3
season: fall
year: 2019
title: "Journal for Cultural and Religious Theory - Table of Contents"
description: "PHILOSOPHY OF RELIGION AND THE THEORY OF RELIGION - VOL. 18 NO. 3 (FALL 2019)"
image: /img/canal.jpg
---

{% include "partials/archive_issue_toc.njk" %}
