---
volume: 17
issue: 2
season: spring
year: 2018
title: "JOURNAL FOR CULTURAL AND RELIGIOUS THEORY - Table of Contents"
description: "Beyond Myth and Enlightenment Phenomenological Reconsiderations of Religion - Edited by Ludger Hagedorn (Institute for Human Sciences, Vienna) and Michael Staudigl (University of Vienna)  - VOL. 17, NO. 2 (SPRING 2018)"
image: /img/freeway.png
---

{% include "partials/archive_issue_toc.njk" %}
