---
permalink: "/religioustheory/categories-tags-sitemap.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set baseUrl = sitemapBaseUrl or metadata.url or "" %}
{% set categories = tagIndex.theory.categories.list or [] %}
{% set seen = [] %}
{% for category in categories %}
  {% set url = baseUrl ~ "/religioustheory/categories/" ~ (category | slugify) ~ "/" %}
  {% if url not in seen %}
    <url>
      <loc>{{ url | xmlEscape | safe }}</loc>
    </url>
    {% set _ = seen.push(url) %}
  {% endif %}
{% endfor %}
{% set tags = tagIndex.theory.tags.list or [] %}
{% for tag in tags %}
  {% set url = baseUrl ~ "/religioustheory/tags/" ~ (tag | slugify) ~ "/" %}
  {% if url not in seen %}
    <url>
      <loc>{{ url | xmlEscape | safe }}</loc>
    </url>
    {% set _ = seen.push(url) %}
  {% endif %}
{% endfor %}
</urlset>
