---
permalink: /religioustheory/sitemap.xml
layout: false
eleventyExcludeFromCollections: true
# To remove a page from the sitemap add this into frontmatter: sitemapIgnore: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
	<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
		{% set baseUrl = sitemapBaseUrl or metadata.url or (site and site.url) or "" %}
		{% set defaultLastmod = page.inputPath | lastModifiedDate %}

	{# Template-driven RT pages #}
	{% for entry in collections.all -%}
		{%- if entry.url and entry.url.startsWith("/religioustheory/") -%}
			{%- if entry.data.sitemapIgnore !== true and not entry.data.draft -%}
				{% set path = entry.url | url %}
				<url>
					<loc>{{ (baseUrl ~ path) | xmlEscape | safe }}</loc>
					{% set lastmodSource = entry.data.dateUpdated or entry.date or defaultLastmod %}
					{% if lastmodSource %}<lastmod>{{ lastmodSource | htmlDateString }}</lastmod>{% endif %}
				</url>
			{% endif -%}
		{% endif -%}
	{% endfor -%}

		{# Canonical section index pages #}
		{% for path in [
			"/religioustheory/",
			"/religioustheory/archive/",
			"/religioustheory/blog/",
		"/religioustheory/authors/",
		"/religioustheory/categories/",
		"/religioustheory/pages/",
		"/religioustheory/pages/archive/",
		"/religioustheory/pages/blog/",
		"/religioustheory/posts/",
		"/religioustheory/tags/",
		"/religioustheory/taxonomy/"
	] -%}
		<url>
			<loc>{{ (baseUrl ~ path) | xmlEscape | safe }}</loc>
			{% if defaultLastmod %}<lastmod>{{ defaultLastmod | htmlDateString }}</lastmod>{% endif %}
		</url>
		{% endfor -%}
	</urlset>
