---
volume: 2
issue: 1
season: winter
year: 2000
title: "JCRT - Table of Contents"
description: " New from JCRT - 2.1 Winter 2000"
image: /img/jcrt.svg
---

{% include "partials/archive_issue_toc.njk" %}
