---
volume: 24
issue: 2
season: Winter
year: 2026
title: "Challenging the Justifications of Domination Through Religion: “We Were Planting Corn and They Were Planting Crosses” Part 1 - Table of Contents"
description: "The following issue has resulted from a conference in the winter of 2023.  The conference was sponsored by The Henry Luce Foundation, Syracuse University Departments of Religion and Biology, Indigenous Values Initiative, American Indian Law Alliance, American Indian Community House, Good Faith Media (GFM), Neighbors of Onondaga Nation (NOON), Syracuse Peace Council, Syracuse Cultural Workers, Tonatierra, Toward Our Common Public Life, Unitarian Universalist Association."
image: /img/24.2-cover-connie-castro.png
issue_image_width: 538
issue_image_height: 356
keywords: [indigenous, religion, domination, conference, justifications, doctrine-of-discovery]
use_article_number: true
---

{% include "partials/archive_issue_toc.njk" %}
