---
volume: 20
issue: 1
season: winter
year: 2024
title: "Journal for Cultural and Religious Theory - Table of Contents"
description: "Table of Contents for Volume 20, Issue 1 (Winter 2024) of the Journal for Cultural and Religious Theory"
image: /img/house.webp
---

{% include "partials/archive_issue_toc.njk" %}
