---
volume: 13
issue: 2
season: summer
year: 2014
title: "JCRT - Table of Contents"
description: "The Cultural and Political Life of Zombies - A JCRT Special Edition - 13.2 Summer 2014"
image: /img/jcrt.svg
---

{% include "partials/archive_issue_toc.njk" %}
