---
pagination:
  data: tagIndex.globalTags.paginationList
  size: 1
  alias: tag
eleventyExcludeFromCollections: true
layout: base.njk
eleventyComputed:
  title: "Tagged '{{ tag }}'"
permalink: "/tags/{{ tag | slugify }}/index.html"
---
<div class="container-fluid">
  {% include "partials/nav_desktop.njk" %}

  <h1 class="display-5 fw-bold mb-5 border-bottom pb-3">
    <span class="border-bottom border-4 border-primary pb-2">
      Tagged “{{ tag }}”
    </span>
  </h1>

  {% set postslist = tagIndex.globalTags.map[tag] %}
  {% if postslist and postslist.length %}
    <div class="row mt-3 mb-3">
      {% for post in postslist %}
      <div class="col-md-6 col-lg-4 p-3 small p-md-5">
        <h3 class="h5">
          <a class="text-decoration-none" href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        {% if post.author %}
        <p class="small text-muted mb-1">{{ post.author }}</p>
        {% endif %}
        {% if post.description %}
        <p class="small">{{ post.description | truncate(160) }}</p>
        {% endif %}
        <a href="{{ post.url }}" class="btn btn-primary btn-sm">View Article</a>
      </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No posts found with this tag.</p>
  {% endif %}

  <hr class="mt-5">
  <p>See <a href="/tags" class="fw-bold text-primary text-decoration-none">all tags</a>.</p>
</div>
