---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - posts
    - archives
    - theoryPosts
eleventyExcludeFromCollections: true
layout: base.njk
eleventyComputed:
  title: "Tagged '{{ tag }}'"
permalink: "/tags/{{ tag | slugify }}/index.html"
---
<div class="container-fluid">
  {% include "partials/nav_desktop.njk" %}

  <h1 class="display-5 fw-bold mb-5 border-bottom pb-3">
    <span class="border-bottom border-4 border-primary pb-2">
      Tagged “{{ tag }}”
    </span>
  </h1>

  {% set postslist = collections[tag] %}
  
  {% if postslist %}
    {% include "postslist.njk" %}
  {% else %}
    <p>No posts found with this tag.</p>
  {% endif %}

  <hr class="mt-5">
  <p>See <a href="/tags" class="fw-bold text-primary text-decoration-none">all tags</a>.</p>
</div>