---
layout: base.njk
searchIndex: false
---
<div class="collection-shell collection-shell--tags">

 {% include "partials/nav_desktop.njk" %}
<h1 class="display-5 fw-bold mb-5 border-bottom pb-3"><span class="border-bottom border-4 border-primary pb-2">
Tags
</span></h1>

<div class="row p-3">
{% for tag in tagIndex.globalTags.list %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<div class="col-md-4 col-4 p-1">
		{% if isLeanBuild and (tag not in tagIndex.globalTags.affected) %}
		<span class="btn btn-outline-primary p-2 disabled">{{ tag }}</span>
		{% else %}
		<a class="btn btn-outline-primary p-2" href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
		{% endif %}
	</div>
{% endfor %}
</ul>

</div>
