---
volume: 15
issue: 1
season: fall
year: 2015
title: "JCRT - Table of Contents"
description: "Violence and the Gift
Challenging Continental
Philosophy of Religion - 15.1 Fall 2015"
image: /images/jcrt.svg
---

{% include "partials/archive_issue_toc.njk" %}
