---
volume: 12
issue: 2
season: fall
year: 2012
title: "JCRT - Table of Contents"
description: "JCRT Special Issue: Pedagogical Exercises and Theories of Practice - 12.2 Fall 2012"
image: /img/jcrt.svg
---

{% include "partials/archive_issue_toc.njk" %}
