---
layout: base.njk
---
<div class="col-md-10 mx-auto">
{% include "partials/nav_desktop.njk" %}
<div class="row mt-3 mb-3">
<h1 class="col-md-12 p-3 text-center p-name">{{title}}</h1>
{% for a in collections.authors %}
<div class="col-md-6 col-lg-4 p-3 small p-md-5"> 
<div class="img-zoom-container">
{% set authorThumb = a.data.image or '/img/jcrt.svg' %}
<a class="p-name p-url" href="{{a.url}}" title="{{a.data.name or a.data.title}}"><img class="img-post rounded" 
  alt="{{a.data.name or a.data.title}}" src="{{authorThumb | preferWebp}}" data-fallback-src="{{authorThumb}}" {% imageAttrs authorThumb, 300, 300 %} loading="lazy" decoding="async" onerror="if(this.dataset.fallbackSrc&&this.src!==this.dataset.fallbackSrc){this.src=this.dataset.fallbackSrc;}"/></a>
</div>
<h3>{{a.data.name or a.data.title}}</h3>
<p>
{{ a.data.affiliation or a.data.organization or a.data.description }}
</p>
<p class="p-author h-card"><a class="p-name p-url" href="{{a.url}}" class="btn  btn-primary p-2">
About {{a.data.name or a.data.title}}
</a></p>
</div>
{% endfor %}
</div>
</div>
