<!doctype html>
<html lang="{{ metadata.language }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "partials/seo.njk" %}
</head>
<body>
{% include "partials/sidebar.njk" %}
<div id="content-wrapper" class="mse col-md-10 mx-auto ">
{% include "partials/nav_mobile.njk" %}
<main class="h-entry" data-pagefind-body>
{{ content | safe }}
</main>
</div>
<script src="/js/bs.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</body>
</html>
