---
layout: base.njk
---
<div class="container-fluid">
{% include "partials/nav_desktop.njk" %}
{% include "partials/home_hero.njk" %}
{% include "partials/home_section.njk" %}
{% include "partials/archive_list.njk" %}
{% include "partials/post_list.njk" %}
</div>
