---
volume: 18
issue: 2
season: spring
year: 2019
title: "Journal for Cultural and Religious Theory - Table of Contents"
description: "SPEAKING (OR NOT SPEAKING) OF GOD - VOL. 18 NO. 2 (SPRING 2019)"
image: /img/faces.webp
---

{% include "partials/archive_issue_toc.njk" %}
