---
volume: 22
issue: 2
season: fall
year: 2023
title: "Journal for Cultural and Religious Theory -Table of Contents" 
description: "A Whitestone Publication - Issue 22.2   Fall 2023"
image: /img/cathedral.jpg
---

{% include "partials/archive_issue_toc.njk" %}
