---
permalink: /sitemaps/keywords/keywords-sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% set baseUrl = sitemapBaseUrl or metadata.url or (site and site.url) or "" %}
	{# Keyword index page #}
	<url>
		<loc>{{ (baseUrl ~ "/archives/keywords/") | xmlEscape | safe }}</loc>
		{% set idxLm = page.inputPath | lastModifiedDate %}
		{% if idxLm %}<lastmod>{{ idxLm | htmlDateString }}</lastmod>{% endif %}
	</url>

	{% if not isLeanBuild %}
		{# One URL per archive keyword page #}
		{% for keyword in (tagIndex.archiveKeywords.list or []) %}
			{% set path = "/archives/keywords/" ~ (keyword | slugify) ~ "/" %}
			<url>
				<loc>{{ (baseUrl ~ path) | xmlEscape | safe }}</loc>
				{% set keywordPosts = tagIndex.archiveKeywords.map[keyword] or [] %}
				{% set newest = keywordPosts[0].date if keywordPosts and keywordPosts[0] else null %}
				{% if newest %}<lastmod>{{ newest | htmlDateString }}</lastmod>{% endif %}
			</url>
		{% endfor %}
	{% endif %}
</urlset>
