---
volume: 16
issue: 1
season: winter
year: 2016
title: "JCRT -  Table of Contents"
description: "Special Issue Editors:  Sergio Figueiredo, Victor Taylor - Civic Humanities - 16.1   Winter 2016-17"
image: /img/jcrt.svg
---

{% include "partials/archive_issue_toc.njk" %}
