<main id="main-content" class="collection-shell collection-shell--home h-entry">
{% include "partials/nav_desktop.njk" %}
{% include "partials/home_hero.njk" %} 
{% include "partials/home_section.njk" %}
{% include "partials/post_list.njk" %}
</main>
