---
permalink: "/archives-sitemap.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set baseUrl = sitemapBaseUrl or metadata.url or "" %}
{% set archives = collections.archives %}
{% set seen = [] %}
{% for entry in archives %}
  {% set canonicalPath = (entry.data.canonical_url or entry.url) | stripQueryAndHash %}
  {% set fullUrl = canonicalPath if "http" in canonicalPath else baseUrl ~ (canonicalPath | url) %}
  {% if fullUrl not in seen %}
    <url>
      <loc>{{ fullUrl | xmlEscape | safe }}</loc>
      <lastmod>{{ entry.date | luxonDate("yyyy-MM-dd'T'HH:mm:ssZZ") }}</lastmod>
    </url>
    {% set _ = seen.push(fullUrl) %}
  {% endif %}
{% endfor %}
</urlset>
