---
permalink: "/archives-sitemap.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set archives = collections.archives %}
{% for entry in archives %}
  <url>
    <loc>{{ entry.url | url }}</loc>
    <lastmod>{{ entry.date | luxon("yyyy-MM-dd'T'HH:mm:ssZZ") }}</lastmod>
  </url>
{% endfor %}
</urlset>
