---
permalink: "/sitemaps/datacite.xml"
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<df:resources
  xmlns:df="https://jcrt.org/schema/datacite-feed"
  xmlns="http://datacite.org/schema/kernel-4"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    https://jcrt.org/schema/datacite-feed https://jcrt.org/sitemaps/datacite-feed.xsd
    http://datacite.org/schema/kernel-4 https://jcrt.org/sitemaps/metadata.xsd">
{% for rec in dataciteArchives %}
  <resource>
    <identifier identifierType="{{ rec.identifierType }}">{{ rec.identifier | escape }}</identifier>
    <creators>
{% for creator in rec.creators %}
      <creator>
        <creatorName>{{ creator | escape }}</creatorName>
      </creator>
{% endfor %}
    </creators>
    <titles>
      <title>{{ rec.title | escape }}</title>
    </titles>
    <publisher>{{ rec.publisher | escape }}</publisher>
    <publicationYear>{{ rec.publicationYear }}</publicationYear>
    <resourceType resourceTypeGeneral="{{ rec.resourceTypeGeneral }}">{{ rec.resourceType }}</resourceType>
{% if rec.keywords and (rec.keywords | length) > 0 %}
    <subjects>
{% for kw in rec.keywords %}
      <subject>{{ kw | escape }}</subject>
{% endfor %}
    </subjects>
{% endif %}
    <relatedIdentifiers>
      <relatedIdentifier relatedIdentifierType="URL" relationType="IsIdenticalTo">{{ rec.pageUrl | escape }}</relatedIdentifier>
      <relatedIdentifier relatedIdentifierType="URL" relationType="HasPart">{{ rec.pdfUrl | escape }}</relatedIdentifier>
    </relatedIdentifiers>
{% if rec.dateIssued %}
    <dates>
      <date dateType="Issued">{{ rec.dateIssued }}</date>
    </dates>
{% endif %}
    <language>en</language>
{% if rec.description %}
    <descriptions>
      <description descriptionType="Abstract">{{ rec.description | escape }}</description>
    </descriptions>
{% endif %}
  </resource>
{% endfor %}
</df:resources>
