---
permalink: "/pages-sitemap.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set seen = [] %}
{% for entry in collections.all %}
  {% if entry.url and entry.inputPath and (entry.inputPath.includes('/content/pages/') or entry.inputPath.endsWith('/content/index.md')) %}
    {% if entry.data.sitemapIgnore !== true and not entry.data.draft and entry.data.eleventyExcludeFromCollections !== true %}
      {% set url = (metadata.url ~ (entry.url | url)) %}
      {% if url not in seen %}
        <url>
          <loc>{{ url }}</loc>
          <lastmod>{{ entry.date | luxonDate("yyyy-MM-dd'T'HH:mm:ssZZ") }}</lastmod>
        </url>
        {% set _ = seen.push(url) %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
</urlset>
