---
permalink: "/pdf-sitemap.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set seen = [] %}
{% for entry in collections.all %}
  {% if entry.outputPath and (entry.outputPath | slice(-4)) == '.pdf' %}
    {% set url = entry.url | url %}
    {% if url not in seen %}
      <url>
        <loc>{{ url }}</loc>
        <lastmod>{{ entry.date | luxonDate("yyyy-MM-dd'T'HH:mm:ssZZ") }}</lastmod>
      </url>
      {% set _ = seen.push(url) %}
    {% endif %}
  {% endif %}
{% endfor %}
</urlset>
