---
permalink: /sitemaps/sitemap.xml
layout: false
eleventyExcludeFromCollections: true
# To remove a page from the sitemap add this into frontmatter: sitemapIgnore: true
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemaps/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% set baseUrl = sitemapBaseUrl or metadata.url or (site and site.url) or "" %}
	{% set defaultLastmod = page.inputPath | lastModifiedDate %}

	{# All non-religioustheory template URLs #}
	{% for entry in collections.all -%}
		{%- if entry.url and not entry.url.startsWith("/religioustheory/") -%}
			{%- if entry.data.sitemapIgnore !== true and not entry.data.draft and entry.data.eleventyExcludeFromCollections !== true -%}
				{% set path = entry.url | url %}
				{% set skip = (path == "/sitemap.xml" or path.startsWith("/sitemaps/") or path == "/404/" or path == "/404.html") %}
				{%- if not skip -%}
					<url>
						<loc>{{ (baseUrl ~ path) | xmlEscape | safe }}</loc>
						{% set lastmodSource = entry.data.dateUpdated or entry.date or entry.inputPath | lastModifiedDate %}
						{% if lastmodSource %}<lastmod>{{ lastmodSource | htmlDateString }}</lastmod>{% endif %}
					</url>
				{%- endif -%}
			{% endif -%}
		{% endif -%}
	{% endfor -%}

	{# Feed endpoints #}
	{% for path in [
		"/feed/feed.xml",
		"/feed/feed.rss",
		"/feed/feed.json",
		"/feed/firehose.xml",
		"/feed/twtxt.txt",
		"/feed/religioustheory/feed.xml",
		"/feed/pretty-atom-feed.xsl",
		"/sitemaps/oai_dc.xml",
		"/sitemaps/doaj-archives.xml"
	] -%}
		<url>
			<loc>{{ (baseUrl ~ path) | xmlEscape | safe }}</loc>
			{% if defaultLastmod %}<lastmod>{{ defaultLastmod | htmlDateString }}</lastmod>{% endif %}
		</url>
	{% endfor -%}

	{# Link keyword sitemap for discoverability #}
	<url>
		<loc>{{ (baseUrl ~ "/sitemaps/keywords/keywords-sitemap.xml") | xmlEscape | safe }}</loc>
		{% if defaultLastmod %}<lastmod>{{ defaultLastmod | htmlDateString }}</lastmod>{% endif %}
	</url>
</urlset>
