---
permalink: "/sitemaps/sitemaps.xml"
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set sitemapFiles = collections.all | filter(entry => entry.inputPath and entry.inputPath.match(/\/sitemaps\/(.*)\.xml(\.njk)?$/)) %}
{% set seen = [] %}
{% for entry in sitemapFiles %}
  {% set url = entry.url | url %}
  {% if url not in seen %}
    <sitemap>
      <loc>{{ url }}</loc>
      {% set lastmodSource = entry.data.dateUpdated or entry.date or entry.inputPath | lastModifiedDate %}
      {% if lastmodSource %}<lastmod>{{ lastmodSource | htmlDateString }}</lastmod>{% endif %}
    </sitemap>
    {% set _ = seen.push(url) %}
  {% endif %}
{% endfor %}
</sitemapindex>
