---
layout: base.njk
title: "Religious Theory Tags"
permalink: /religioustheory/tags/index.html
searchIndex: false
---

<article class="collection-shell collection-shell--theory-tags mt-5">
  {% include "partials/nav_desktop.njk" %}
  <header class="mb-4">
    <h1>
      <strong>
        <span class="border-bottom border-4 border-primary pb-2">Tags</span>
      </strong>
    </h1>
  </header>

  <div class="row justify-content-center">
    <div class="col-md-12 mt-5">
      <ul class="list-unstyled row">
        {%- for tag in tagIndex.theory.tags.list %}
          <li class="mb-2 col-md-3 col-6">
            {% if isLeanBuild and (tag not in tagIndex.theory.tags.affected) %}
            <span>#{{ tag }}</span>
            {% else %}
            <a class="text-decoration-none" href="/religioustheory/tags/{{ tag | slugify }}/">#{{ tag }}</a>
            {% endif %}
            <span class="text-muted small">({{ tagIndex.theory.tags.counts[tag] or 0 }})</span>
          </li>
        {%- endfor %}
      </ul>
    </div>
  </div>
</article>
