---
volume: 23
issue: 2
season: winter
year: 2025
title: "Journal for Cultural and Religious Theory - Table of Contents"
description: "A Whitestone Publication - Issue 23.2   Winter 2025"
image: /img/beach.jpg
---

{% include "partials/archive_issue_toc.njk" %}
