---
volume: 19
issue: 2
season: spring
year: 2020
title: "Journal for Cultural and Religious Theory - Table of Contents"
description: "A Whitestone Publication - Issue 19.2   Spring 2020"
image: /img/adam-eve.jpg
---

{% include "partials/archive_issue_toc.njk" %}
