---
volume: 13
issue: 1
season: winter
year: 2014
title: "JCRT - Table of Contents"
description: "Decoloniality and Crisis - A JCRT Special Edition - 13.1 Winter 2014"
image: /img/jcrt.svg
---

{% include "partials/archive_issue_toc.njk" %}
