---
layout: base.njk
pagination:
  data: tagIndex.archiveKeywords.paginationList
  size: 1
  alias: keyword
permalink: /archives/keywords/{{ keyword | slugify }}/index.html
eleventyComputed:
  title: "Archive Keyword: {{ keyword }}"
eleventyExcludeFromCollections: true
---
<div class="container-fluid">
  {% include "partials/nav_desktop.njk" %}
  <h1 class="display-5 fw-bold mb-5 border-bottom pb-3">
    <span class="border-bottom border-4 border-primary pb-2">Archive Keyword: {{ keyword }}</span>
  </h1>

  <div class="row mt-3 mb-3">
    {% set keywordPosts = tagIndex.archiveKeywords.map[keyword] %}
    {% for post in keywordPosts %}
      <div class="col-md-6 col-lg-4 p-3 small p-md-5">
        <h3 class="h5">
          <a class="text-decoration-none" href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        {% if post.author %}
          <p class="small text-muted mb-1">{{ post.author }}</p>
        {% endif %}
        {% if post.description %}
          <p class="small">{{ post.description | truncate(140) }}</p>
        {% endif %}
        <a href="{{ post.url }}" class="btn btn-primary btn-sm">View Article</a>
      </div>
    {% endfor %}
  </div>

  <hr class="mt-4">
  <p><a href="/archives/keywords/" class="fw-bold text-primary text-decoration-none">View all archive keywords</a></p>
</div>
