---
volume: 14
issue: 2
season: spring
year: 2015
title: "JCRT - Table of Contents"
description: "Mashup Philosophy of Religion
A Special Issue of The Journal for Cultural and Religious Theory  - 14.2 Spring 2015"
image: /images/jcrt.svg
---

{% include "partials/archive_issue_toc.njk" %}
