---
permalink: /feed/twtxt.txt
layout: false
eleventyExcludeFromCollections: true
---
{% set feedBaseUrl = metadata.url or "https://jcrt.org" %}
# twtxt is an open, distributed microblogging format: https://twtxt.readthedocs.io/
# Source: {{ feedBaseUrl }}
# Feed: {{ feedBaseUrl }}/feed/twtxt.txt
{% set items = collections.feed | reverse -%}
{% for item in items -%}
{% if loop.index0 < 50 -%}
{{ item.date | dateToRfc3339 }}	{{ feedBaseUrl }}{{ item.url }}	{{ (item.data.title or item.fileSlug or item.url or "Untitled") | striptags | trim }}
{% endif -%}
{% endfor -%}
