---
volume: 18
issue: 1
season: winter
year: 2018
title: "Journal for Cultural and Religious Theory - Table of Contents"
description: "RECOVERING THE UNCONSCIOUS - VOL. 18 NO. 1 (WINTER 2018-19)"
image: /img/clocks.jpg
---

{% include "partials/archive_issue_toc.njk" %}
