---
permalink: /robots.txt
eleventyExcludeFromCollections: true
layout: false
---

# Allow crawling of all content
User-agent: *
Allow: /
Disallow: /*?fbclid=
Disallow: /*?gclid=
Disallow: /*?utm_
Disallow: /*?platform=
Disallow: /*?preview=


Sitemap: {{metadata.url}}/sitemap.xml
Sitemap: {{metadata.url}}/sitemaps/sitemaps.xml
