---
title: Subscribe
description: "Subscribe to our newsletter to be notified of new publications"
permalink: /subscribe/
buttondown_username: jcrt
---

{% include "partials/buttondown_contact_form.njk" %}
