---
volume: 11
issue: 1
season: winter
year: 2010
title: "JCRT - Table of Contents"
description: "Special Edition: Michel Foucault and St. Paul - Vol. 11, no. 1 - Winter 2010"
image: /images/jcrt.svg
---

{% include "partials/archive_issue_toc.njk" %}
