---
volume: 19
issue: 1
season: winter
year: 2020
title: "Journal for Cultural and Religious Theory - Table of Contents"
description: "A Whitestone Publication - Issue 19.1   Winter 2020"
image: /images/jcrt.svg
---

{% include "partials/archive_issue_toc.njk" %}
